%header
  %ul
    %li
      %img(src="/assets/logo.png") 
    %li
      = link_to "HOME", :href => "#" 
    %li 
      = link_to "TRIPS", :href => "#" 
    %li 
      = link_to "MEMBERS", :href => "#" 
    %li 
      = link_to "LEGEND", :href => "#" 
    %li.right.last_right 
      = link_to "LOG OUT", :href => "#" 
    %li.right RYAN HOWARD |
    %li.right
      %img(src="/assets/logo_img.png")

.banner
  %img(src="/assets/banner.png")
  
.wrapper

  .wrap_header
    %h2 SNAG YOUR SPOT
    %p Click for details, departurs dates, and prices. Check out who is going and help shape the experience
    %a.button{:href => "#"} VIEW ALL TRIPS
      
  .body
    .items1
      %img.back(src="/assets/img_1.png")
      %h3.title WELLNESS AND ECO ADVENTURE EXPERIENCE
      .city
        %img(src="/assets/city.png")
        %h4 Nicaragua
      %img.logo_city(src="/assets/logo_city.png")
      .clear
      %a.see{:href => "#"} SEE DETAILS
      .status
        %ul
          %li
          %li
          %li.per
          %li.per_left
          %li
            
    .items2
      %img.back(src="/assets/img_2.png")
      %h3.title NORTHERN LIGHTS
      .city
        %img(src="/assets/city.png")
        %h4 Alaska
      .clear
      %a.see{:href => "#"} SEE DETAILS
      .status
        .title Member Activation
        .progress
        .cicle_noti 60
        .progress_rem
      
    .items3
      %img.back(src="/assets/img_3.png")
      %h3.title TREKKING SAFARI
      .city
        %img(src="/assets/city.png")
        %h4 Tanzania
      .clear
      %a.see{:href => "#"} SEE DETAILS
      .status
        %ul
          %li
          %li.per
    .clear
    .items3
      %img.back(src="/assets/img_4.png")
      %h3.title EASTER ISLAND
      .city
        %img(src="/assets/city.png")
        %h4 South Pacific
      .clear
      %a.see{:href => "#"} SEE DETAILS
      .status
        %ul
          %li.per4
          %li.per.per41
    .items3
      %img.back(src="/assets/img_5.png")
      %h3.title CRUISE TO EXTREMES
      .city
        %img(src="/assets/city.png")
        %h4 Antartica
      .clear
      %a.see{:href => "#"} SEE DETAILS
      
      .status
        %ul
          %li.per5
          %li.per.per51
    .items1.items4
      %img.back(src="/assets/img_6.png")
      %h3.title WELLNESS AND ECO ADVENTURE EXPERIENCE
      .city
        %img(src="/assets/city.png")
        %h4 Nicaragua
      %img.logo_city(src="/assets/logo_city.png")
      .clear
      %a.see{:href => "#"} SEE DETAILS
      .status
        %ul
          %li
          %li
          %li
          %li
          
  .separate
    %img.logo_city(src="/assets/pic.png")
    %h2 WHATS GOING ON INSIDE
    %p Check out the top dogs, meet new people, see the trips they crave
    %a.button{:href => "#"} VIEW ALL MEMBERS
    
  .memeber_items
    .left
      %ul
        %li
          %img.member_img(src="/assets/member_1.png")
          %p.member_name Kevin Kirk
          
        %li
          %img.member_img(src="/assets/member_2.png")
          %p Kevin Kirk
          
        %li
          %img.member_img(src="/assets/member_3.png")
          %p Kevin Kirk
        .clear  
        %li
          %img.member_img(src="/assets/member_4.png")
          %p Kevin Kirk
          
        %li
          %img.member_img(src="/assets/member_5.png")
          %p Kevin Kirk
          
        %li
          %img.member_img(src="/assets/member_6.png")
          %p Kevin Kirk
          
        
    .right
      %h4 MEMBER ACTIVITY
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      .member_active
        %img(src="/assets/member_active.png")
        .des
          %p Kric 
          %span craves
          %p Oktoberfest In Munich
      
.clear
.contact
  %img.left(src="/assets/phone.png")
  .right
    %h4 Invite your friends, and you just might win an iPand mini.
    %p Invite at least 1 friends to enter, and up to 3 friends for 3 entries.
    %p You and your friends will always get a $25 credit for signing up, so share away!
    %h3.friend FRIENDS'S EMAILS
    %input
    %h3 MESSAGE OPTIONAL
    %textarea
    .clear
    %a{:href => "#"} SNED INVITE
    %p.invi 3 invitations left
.footer_top
.footer_bottom
  %ul 
    %li
      %a{:href =>"#"} About Us
    %li
      %a{:href =>"#"} Contact
    %li
      %a{:href =>"#"} Work with us
    %li
      %a{:href =>"#"} Blog
    %li
      %a{:href =>"#"} Photo Credits
    %li
      %a{:href =>"#"} Legal
    %li
      %a.google{:href =>"http://www.google.com"}
        %img(src="/assets/google_b.png")
      %a.twitter{:href =>"http://www.twitter.com"}
        %img(src="/assets/twitter_b.png")
      
      %a.facebook{:href =>"http://www.facebook.com"}
        %img(src="/assets/facebook_b.png")
      
      %p Follow us:
